body {
  overflow: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98vh;
  margin: 0;
  position: relative; /* Add this line */
}

.main-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
}